@model order
@{
}
<div class="m-5">

    <form asp-action="EditSubmit" method="Put" enctype="multipart/form-data" asp-route-id="@Model.Id">

        <div class="mb-3">
            <label asp-for="Quantity" class="form-label"></label>
            <input class="form-control" asp-for="Quantity" />
        </div>
        <div class="mb-3">
            <label asp-for="BookId" class="form-label"></label>
            <select class="form-control" asp-for="BookId" asp-items="@ViewBag.listBooks">
            </select>
        </div>

        <hr />
        <input type="submit" class="btn btn-primary" value="Add Category" />
    </form>
</div>
